@page
@using SpeedMeasuremetRazor.Helpers
@model IndexModel
@{
    ViewData["Title"] = "SpeedMeasurementSystem";
}

<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Welcome to SpeedMeasurement</h1>
        <img src="~/Images/foto-politi-fartkontrol.jpg" width="300" height="300" />
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

</div>